<div class="container-fluid">
	<!-- Top Background -->
	<div class="row top-row" routerLink="/dashboard">
		<div class="col-md-1 w40-p0">
			<img class="logo-image" src="../../assets/Ellipse 1 copy 13-2x.png">
		</div>

		<!-- Logo and Logo Text -->
		<div class="col-md-6 w40-p0">
			<img src="../../assets/trackalt-2x.png" class="logo-text">
		</div>
		<div class="col-md-5 p-0">
			<img class="triangle-1" src="../../assets/Triangle 1-2x.png">
		</div>
	</div>

	<!-- Middle Content -->
	<div class="container childInfoContainer">
		<div class="row" style="padding: 8px 6px;">
			<div class="col-md-8">
				<p class="table-heading">
					Attendance Information
				</p>
			</div>
			<div class="col-md-4 search">
				<div class="input-group md-form form-sm form-1 pl-0 searchBar">
					 <div class="input-group-prepend">
						 <span class="input-group-text cyan lighten-2 search-icon" id="basic-text1" (click)="search()">
							 <i class="bi bi-search text-dark" aria-hidden="true"></i>
						 </span>
					</div>
					<input class="form-control my-0 py-1 search-bar" type="search" placeholder="Search by Name"
						aria-label="Search" (keypress)="search()" name="searchText" [(ngModel)]="searchText">
				</div>
			</div>
		</div>
		<div class="row ps-3">
			<div class="col-md">
				<p class="text-dark">
					<span><strong>Student ID: </strong> {{ studentInfo.studentId }} </span>
					<span class="ms-5"><strong> Student RFID: </strong> {{ studentInfo.rfid }} </span>
					<span class="ms-5"><strong> Student School: </strong> {{ studentInfo.currentSchoool }} </span>
				</p>
			</div>
		</div>

		<table class="table table-striped p-3">
			<thead>
				<tr>
					<th scope="col" style="width: 33.33%">S.NO.</th>
					<th scope="col" style="width: 33.33%">Date</th>
					<th scope="col" style="width: 33.33%">Status</th>
					<th scope="col" style="width: 33.33%">Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="attInfo && attInfoList.length > 0; else noData">
				<tr *ngFor="let child of attInfoList; let i = index">
					<td> {{ i + 1 }} </td>
					<td> {{ child.date }} </td>
					<td> {{ child.status }} </td>
					<td> <i class="bi bi-search"></i> </td>
				</tr>

			</tbody>
			<ng-template #noData>
				<p class="text-danger pt-3 ps-3">
					No Data Found!
				</p>
			</ng-template>
		</table>
	</div>



	<!-- Bottom Background -->
	<div class="fixed-bottom">
		<img src="../../assets/Bottom Triangle.png" class="footer-image">
	</div>
	<!-- Footer -->
	<div class="fixed-bottom row">

		<div class="col-md-2 w20-p0">
			<img src="../../assets/Footer Menu Link-2x.png" class="menu-icon">
		</div>
		<div class="col-md-8 text-center w60-p0">
			<!-- Get userName from localStorage -->
			<p class="user-info">Welcome {{userName}} !!</p>
		</div>
		<div class="col-md-2 text-center w20-p0">
			<div class="w3-dropdown-hover">
				<img src="../../assets/Profile Icon-2x.png" class="profile-icon">
					<p style="color: white;">Profile</p>
				<div class="w3-dropdown-content w3-bar-block w3-border">
					<a (click)="logout()" class="w3-bar-item w3-button">
						Log Out
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
