<div class="container_fluid">
    <div class="row align-middle top-row">
        <div class="col-md-12">
            <div class="col-md-6 float-start">
                <img class="logo-image" src="../../assets/new/trackalt-icon-2x.png" (click)="home()">
                <img class="logo-text" src="../../assets/new/trackalt-text-2x.png" (click)="home()">
            </div>
            <!-- <div class="col-md-6" style="width: 100%;">
                <img class="top-bg-image" src="../../assets/new/top-image-2x.png">
            </div> -->
        </div>
    </div>

    <div class="row justify-content-center middle-row">
        <div class="modules-container" *ngIf="!userSetup_tab">
            <!-- First Row -->
            <div class="btn-row">
                <div class="btn-box" [routerLink] = "['/dashboard/district']">
                    <div class="circle-icon">
                        <img id="circle-icon-1" src="../../assets/new/card-icon.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            District Setup/Edit
                        </p>
                    </div> 
                </div>
                <div class="btn-box" [routerLink] = "['/dashboard/district-calendar']">
                    <div class="circle-icon">
                        <img id="circle-icon-2" src="../../assets/new/card-icon-2.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            District Calendar Setup/Edit
                        </p>
                    </div>
                </div>
                <div class="btn-box" [routerLink] = "['/dashboard/school']">
                    <div class="circle-icon">
                        <img id="circle-icon-3" src="../../assets/new/card-icon-3.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            School Setup/Edit
                        </p>
                    </div>
                </div>
            </div>
            <!-- Second Row -->
            <div class="btn-row">
                <div class="btn-box" [routerLink] = " ['/dashboard/admin'] " >
                    <div class="circle-icon">
                        <img id="circle-icon-4" src="../../assets/new/card-icon-4.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            Admin Setup/Edit
                        </p>
                    </div>
                </div>
                <div class="btn-box" (click)="userSetup()">
                    <div class="circle-icon">
                        <img id="circle-icon-5" src="../../assets/new/card-icon-5.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            User Setup/Edit
                        </p>
                    </div>
                </div>
                <div class="btn-box" [routerLink] = "['/dashboard/school-calendar']">
                    <div class="circle-icon">
                        <img id="circle-icon-6" src="../../assets/new/card-icon-6.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            School Calendar Setup/Edit
                        </p>
                    </div>
                </div>
            </div> 
        </div>

        <!-- Third Row [hidden in User Setup] -->
        <div class="modules-container hidden-tabs" *ngIf="userSetup_tab">
            <!-- First Row -->
            <div class="btn-row">
                <div class="btn-box" [routerLink] = "['/dashboard/teacher']">
                    <div class="circle-icon">
                        <img id="circle-icon-3" src="../../assets/new/card-icon-3.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            Teacher Setup/Edit
                        </p>
                    </div> 
                </div>
                <div class="btn-box" [routerLink] = "['/dashboard/district']">
                    <div class="circle-icon">
                        <img id="circle-icon-2" src="../../assets/new/card-icon-2.png">
                    </div>
                    <div class="btn-title">
                        <p class="text-center">
                            Student Setup/Edit
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Third Row ends -->
    </div>

    <div class="row">
        <div class="fixed-bottom">
            <img src="../../assets/new/bottom-image-2x.png" class="footer-image">
            <div class="footer">
                
            </div>
        </div>
    </div>
</div>  