<div class="row">
	<div class="fixed-bottom">
			<img src="../../assets/new/bottom-image-2x.png" class="footer-image">
		<div class="footer col-md-12">
			<div class="col-7 float-start">
				<p class="text-end user-profile" style="transform: translateY(10px)"> Welcome {{ userName }} ! </p>
				<p class="text-end me-5 user-profile" style="transform: translateY(-10px); margin-bottom: 0;"> {{ role }}</p>
			</div>
			<div class="col-5 float-end">
				<img class="text-end profile-icon" src="../assets/new/profile-icon-2x.png" 
				style="transform: translateY(10px);">
				<p class="text-end profile-text">Profile</p>
			</div>
		</div>
	</div>
</div>