$bg-color: #282030;
$btn-bg-color: #473658;

.fixed-bottom
{
	position: fixed;
	.footer-image
	{
		position: inherit;
		width: 400px;
		bottom: 28px;
		left: -50px;
		z-index: -2	;
	}
	.footer
	{
		position: relative;
		background-color: $btn-bg-color;
		color: #ffffff;
		height: 65px;
		width: 106%;
		margin-left: -3%;
		z-index: 10;
		.user-profile
		{
			transform: translateX(15px);
		}
		.profile-icon
		{
			height: 30px;
			left: 75%;
			position: relative;
			transform: translateX(-20px);
		}
		.profile-text
		{
			transform: translateY(7px);
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 660px) and (max-width: 760px)
{
	.fixed-bottom
	{
		.footer
		{
			.profile-text
			{
				transform: translate(-23px, 10px) !important;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px)
{
    .fixed-bottom
	{
		.footer-image
		{
			width: 540px;
		}
	}
	.footer
	{
		.profile-icon
		{
			left: 80%;
		}
		.profile-text
		{
			transform: translate(-41px, 10px) !important;
		}
	}
}
@media screen and (min-width: 1030px)
{
	.fixed-bottom
	{
		.footer
		{
			.profile-icon
			{
				left: 82%;
			}
			.profile-icon:hover
			{
				
			}
			.profile-text
			{
				transform: translate(-60px, 10px) !important;
			}
		}
	}
}