.container-fluid{ background-image: url('../../assets/BG.png'); min-height: 100vh; overflow: hidden;}
.top-row{ height: 140px; }
.logo-image{ height: 100px; }
.logo-text{ width: 150px; margin: 40px 0px 0px 20px; }
.title{ color: white; padding: 35px 10px; }
.triangle-1{ height: 260px; float: right; width: 350px; } 
.form form{ background: #473658;; padding: 15px 25px; padding-bottom: 1px; width: 75%;
     margin: 4% auto; margin-top: 55px;position: relative; z-index: 10000; color: white;
     opacity: 0.8; border-radius: 5px; border: 1px solid #cd5fbf;}
.changePasswordForm{ margin-top: -20px !important; }

.forgot-form h5{ font-weight: 400; margin-bottom: 0; }
.x-mark{ height: 24px; margin-top: 5px; cursor: pointer;}
.x-mark:focus{ box-shadow: none; outline: none; }
.text{ font-size: 22px; padding-bottom: 6px; margin-bottom: 0px; width: 100%;}
.instructions{ margin-top: 15px; margin-bottom: 15px; font-size: 14px;}
label{ font-style: italic; width: 15%;}
.input-field{ border-radius: 0; border: 1px solid; font-style: italic; margin-bottom: 15px; width: 74%;}
.input-field:focus{ box-shadow: none; }
.submit{background: linear-gradient(to bottom, #e7a2de, #a44698); color: white; border-radius: 0px;
    border: 1px solid #2b2b2b; width: 100%; margin-left: 0px; font-size: 17px; margin-top: 8px;}
.submit-btn{ width: 103%; margin-left: -6px; margin-top: 15px;}
.submit-button{ background-image: url('../../assets/Log\ In\ Button-2x.png'); height: 50px; width: 48%;
    cursor: pointer; background-size: contain; background-repeat: no-repeat; margin-left: 14%; }
.submit-button p{ color: white; padding-top: 14px; font-size: 18px;}
.centered { position: absolute; color: white; top: 58%; left: 54%; transform: translate(-50%, -50%); }
.p-0{ padding: 0; }
.remember-checkbox{ font-size: 13px; color: #565555; }
#rememberMe{ position: relative; top: 2px; right: 5px;}
.forgot-password{ text-align: right; font-size: 13px; color: blue; margin-left: 58px; cursor: pointer;}
.checkbox{ text-align: left; padding-left: 18px; }
.mt-5{ margin-top: 5px !important; }
.sign-up-link p{ font-size: 13px; }
.sign-up-link span{ color: blue; font-size: 15px; }
.fixed-bottom{ background: #473658; height: 65px; width: 102%; }
.menu-icon{ height: 20px; margin-top: 25px; margin-left: 20px; }
.user-info{ color: white; padding-top: 25px; }
.profile-icon{ height: 40px; margin-top: 12px; margin-left: 80px;}
.validation{ font-size: 14px; margin-top: -17px; }
.alert-danger{width: 74%; margin-left: 15%; padding-left: 12px;}
.footer-image{ height: 190px; width: 700px; position: relative; bottom: 150px; right: 100px; }
.form-section{ display: flex;  border-bottom: 4px solid #84387a; margin-bottom: 8px;}
.flex{ display: flex; }

@media(max-width: 766px){
    .triangle-1{ position: relative; bottom: 80px; height: 230px; width: 220px;}
    .logo-image{ height: 75px; }
    .logo-text{margin: 32px 0px 0px -55px; width: 90px;}
    .w40-p0{ padding: 0; width: 40%; }
    .form form{ width: 80%; padding: 10px 25px; margin: 20% auto; }
    .fixed-bottom{ height: 65px; }
    .footer-image{ height: 145px; width: 465px; position: relative; bottom: 110px; right: 65px;}
    .text{ font-size: 16px;}
    .x-mark{ height: 16px; }
    .forgot-form h5{ font-size: 12px; }
    label{font-size: 14px;}
    .input-field{ line-height: 0.8; margin-bottom: 0px; height: 25px; }
    .fs8{ font-size: 8px; }
    .input-field{ margin-left: 20px; }
    .submit.changePassword{ padding: 3px 16px 3px 16px;  margin-left: 110px}
    .input-field.changePassword{margin-bottom: 12px;}
    label.changePassword{font-size: 12px; width: 45%;}
    .changePasswordForm{padding: 10px 12px !important; margin: 1% auto !important;}
    .submit{ margin-top: 15px; padding: 3px 20px 3px 20px; margin-left: 90px; font-size: 14px; width: auto;}
}

@media(width: 414px){
    .form form{ margin: 8% auto; }
    .changePasswordForm{ margin: 24% auto !important; }
}

@media(min-width: 768px) and (max-width: 1020px){
    .logo-image{ height: 75px; }
    .logo-text{ margin: 32px 0px 0px 25px; width: 120px;}
    .text{ font-size: 16px;}
    .x-mark{ height: 16px; }
    .forgot-form h5{ font-size: 12px; }
    label{font-size: 14px;}
    .input-field{ line-height: 0.8; margin-bottom: 0px; }
    .triangle-1{ height: 220px; width: 330px;}
    .form form{ padding: 10px 25px; width: 56%; margin: -7% auto; }
    .fixed-bottom{ height: 55px; }
    .footer-image{height: 150px; width: 600px; position: relative; bottom: 120px; right: 80px;}
    .sign-up-link p{ margin-bottom: 0px; }
}