<div class="container-fluid">
    <div class="row top-row" routerLink="/dashboard">
        <div class="col-md-1 w40-p0">
            <img class="logo-image " src="../../assets/Ellipse 1 copy 13-2x.png">
        </div>
        <div class="col-md-6 w40-p0">
            <img src="../../assets/trackalt-2x.png" class="logo-text">
        </div>
        <div class="col-md-5 p-0">
            <img class="triangle-1" src="../../assets/Triangle 1-2x.png">
        </div>
    </div>

	<!-- Middle Content -->
	<div class="container">
		<p> Attendance Works! </p>
	</div>


	<div class="fixed-bottom">
        <img src="../../assets/Bottom Triangle.png" class="footer-image">
    </div>
    <div class="fixed-bottom row">

        <div class="col-md-2 w20-p0">
            <img src="../../assets/Footer Menu Link-2x.png" class="menu-icon">
        </div>
        <div class="col-md-8 text-center w60-p0">
            <p class="user-info">Welcome {{ userName }} !!</p>
        </div>
        <div class="col-md-2 text-center w20-p0">
            <!-- <img src="../../assets/Profile Icon-2x.png" class="profile-icon" (click)="logout()" data-toggle="tooltip"
                        data-placement="top" title="Log Out">
                    <p style="color: white;">Profile</p> -->

            <div class="w3-dropdown-hover">
                <img src="../../assets/Profile Icon-2x.png" class="profile-icon" data-toggle="tooltip"
                    data-placement="top" title="Log Out">
                <p style="color: white;">Profile</p>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a (click)="logout()" class="w3-bar-item w3-button"> Log Out </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <br> -->
    <!-- <br> -->
</div>

