/* You can add global styles to this file, and also import other style files */
.toast-container .ngx-toastr{ 
    box-shadow: none !important;
    width: 400px !important; 
    margin-bottom: 12px !important; 
}