<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 w40-p0">
            <img class="logo-image" src="../../assets/Ellipse 1 copy 13-2x.png" (click)="home()">
        </div>
        <div class="col-md-6 w40-p0">
            <img class="logo-text" src="../../assets/trackalt-2x.png" (click)="home()">
        </div>
        <div class="col-md-5 p-0">
            <img class="top-image-triangle" src="../../assets/Triangle 1-2x.png">
        </div>
    </div>

    <div class="position-relative">
    	<div class="buttons-container position-absolute top-50 start-50 translate-middle" *ngIf="!usersetup">
    		<div class="buttons-row">
    			<div class="button-box">
    				<div class="circle circle-icon-1">
    					<img class="button-icon" src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/district']" >
    				</div>
    				<p class="button-text" [routerLink]="['/dashboard/district']">
    					District Setup/Edit
    				</p>
    			</div>
    			<div class="button-box">
    				<div class="circle circle-icon-2">
    					<img src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/district-calendar']" class="button-icon">
    				</div>
    				<p class="button-text" [routerLink]="['/dashboard/district-calendar']">
    					District Calendar Setup/Edit
    				</p>
    			</div>
    			<div class="button-box">
    				<div class="circle circle-icon-2">
    					<img src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/school']" class="button-icon">
    				</div>
    				<p class="button-text" [routerLink]="['/dashboard/district']">
    					School Setup/Edit
    				</p>
    			</div>
    		</div><!--
    		<div class="buttons-row">
    			<div class="button-box">
    				<div class="circle-icon-4">
    					<img src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/district']" class="button-icon">
    				</div>
    				<p class="button-text" [routerLink]="/dashboard/district">
    					District Setup/Edit
    				</p>
    			</div>
    			<div class="button-box">
    				<div class="circle-icon-5">
    					<img src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/district-calendar']" class="button-icon">
    				</div>
    				<p class="button-text" [routerLink]="/dashboard/district-calendar">
    					District Calendar Setup/Edit
    				</p>
    			</div>
    			<div class="button-box">
    				<div class="circle-icon-6">
    					<img src="../../assets/Button 1 Attendance-2x.png"  [routerLink]="['/dashboard/school']" class="button-icon">
    				</div>
    				<p class="button-text" [routerLink]="/dashboard/district">
    					School Setup/Edit
    				</p>
    			</div>
    		</div>-->
    	</div>
    </div>












    <!-- Bottom Background -->
    <div class="fixed-bottom">
        <img src="../../assets/Bottom Triangle.png" class="bottom-image-triangle">
    </div>
   <div class="fixed-bottom row">

        <div class="col-md-2 w20-p0">
           <!-- <img src="../../assets/Footer Menu Link-2x.png" class="menu-icon">  -->
        </div>
        <div class="col-md-8 text-center w60-p0">
            <p class="user-info">Welcome {{ userName }} ! </p>
            <p class="user-info">{{ role }}</p>
        </div>
        <div class="col-md-2 text-center w20-p0"> 

            <div class="w3-dropdown-hover">
                <img src="../../assets/Profile Icon-2x.png" class="profile-icon" data-toggle="tooltip"
                    data-placement="top" title="Log Out">
                <p style="color: white;">Profile </p>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <p> Rahul </p>
                    <a (click)="logout()" class="w3-bar-item w3-button">
                    	Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
